{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
    <h1>{{ album.title }} - {{ album.artist.name }}</h1>
    <h3>Songs:</h3>
    {% for song in album.songs.all %}
        <div class="song">
            <h3><a href="{% url 'lyrics:song-detail' song.pk %}">{{ song.title }}</a></h3>
        </div>
    {% empty %}
        <p>No songs found.</p>
    {% endfor %}
    <button id="open-dialog" type="submit" class="btn btn-primary">
        {% bootstrap_icon "plus" %}Add song
    </button>
    <div id="dialog">
    <form action="{% url 'song-list' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button id="submit" type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
        </button>
    </form>
    </div>
{% endblock %}
{% block extra_scripts %}
    <script src="/static/js/dialog.js"></script>
{% endblock %}