{% extends 'base.html' %}
{% block content %}
    <h1>{{ artist.name }}</h1>
    <div class="bio">{{ artist.bio|linebreaks }}</div>
    <h3>Albums:</h3>
    {% for album in artist.albums.all %}
        <div class="artist">
            <h3><a href="{% url 'lyrics:album-detail' album.pk %}">{{ album.title }}</a></h3>
        </div>
    {% empty %}
        <p>No albums found.</p>
    {% endfor %}
    <button id="open-dialog" type="submit" class="btn btn-primary">
        {% bootstrap_icon "plus" %}Add album
    </button>
    <div id="dialog">
    <form action="{% url 'album-list' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button id="submit" type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
        </button>
    </form>
    </div>
{% endblock %}
{% block extra_scripts %}
    <script src="/static/js/dialog.js"></script>
{% endblock %}