{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
    <h1>Browse artists:</h1>
    {% for artist in object_list %}
        <div class="artist">
            <h3><a href="{% url 'lyrics:artist-detail' artist.pk %}">{{ artist.name }}</a></h3>
        </div>
    {% empty %}
        <p>No artists found.</p>
    {% endfor %}
    <button type="submit" class="btn btn-primary">
        {% bootstrap_icon "plus" %}Add artist
    </button>
    <div id="dialog">
    <form action="{% url 'artist-list' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
        </button>
    </form>
    </div>
{% endblock %}
{% block extra_scripts %}
{% endblock %}